::-webkit-scrollbar{
    height: 10px;
    width: 7px;
    background-color: #0f0f0f;
    z-index: 10000;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(71, 70, 70);
    z-index: 10000;
}
body{
    background: rgb(22, 21, 21);
    color: white;
}
.content{
    width: 100%;
    height: calc(100vh - 30px);
    overflow: hidden;
}
.select-options{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #292626;
}
.select-options .select-option-button{
    width: 175px;
    height: 30px;
    border-radius: 5px;
    background-color: #292626;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-content{
    position: relative;
    left: -100%;
    width: 300%;
    height: calc(100% - 60px);
    overflow: hidden;
    display: flex;
    transition: all 0.5s ease;
}
.main-content .main-content-box{
    width: calc(100% / 3);
    height: 100%;
}
.image-extractor-box{
    display: flex;
}
.image-extractor-box .traitement{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.traitement .drag-drop-image{
    width: 500px;
    height: 350px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.traitement .drag-drop-image:not(.drop-hover){
    border: 3px dotted white;
    transition: all 0.5s ease;
}
.drop-hover{
    border: 3px dotted rgb(60, 60, 162);
    color: rgb(60, 60, 162);
    transition: all 0.5s ease;
}
.chosen-image{
    max-width: 400px;
    max-height: 300px;
}